<section class="container" id="about">
    <h2 class="text-center">About</h2>
    <div class="row">
        <div class="col-sm-8">
            <p>
                    BOGITAL is a small web design and development startup founded in June 2017 in Cameron. We aim at increasing the online presence of businesses in the world and in our country Cameroon in particular,
                     by building mordern, professional websites and applications for you.
            </p>
        </div>
        <div class="col-sm-4 content-center d-flex justify-content-center align-items-center">
            <img src="/img/logo.svg" alt="BOGITAL logo" class="m-2" style="max-width: 100%">
        </div>
    </div>
</section>