<div class="container">

  <form action="POST" class="bo-contact-form" netlify>
    <h2 class="text text-center">{{ .labels.title }}</h2>
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="{{ .labels.name }}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="phone" id="" aria-describedby="helpId"
              placeholder="{{ .labels.phone }}">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="email" id="" aria-describedby="helpId"
              placeholder="{{ .labels.email }}">
          </div>
          <div class="form-group">
            <select class="form-control" name="service" id="" aria-placeholder="{{.labels.service}}" >
              <option>{{.labels.service}}</option>
              <option>Web design</option>
              <option>Mobile Aplication</option>
              <option>Wordpress</option>
              <option>SEO</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" id="" rows="5" placeholder="{{ .labels.message }}"></textarea>
          </div>
          <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
      </div>
  </form>
</div>