<footer id="footer">
	<div class="container mt-4">
			<div class="row">
				<ul class="col-6 bo-footer-main">
					<li >
						<img src="/img/logo.svg" alt="Bogital logo"
							class="col-xs-8 col-md-4 mb-3 mt-1">
					</li>
					<li >
						Simbock - yaounde - Cameroon
					</li>
					<li >
						+237696835158
					</li>
					<!-- <ul class="bo-social">
						{{ partial "social-icon" (dict "link" "///fb.me/bogital237" "src" "/img/icons-facebook.svg" "id" "facebook") }}
					</ul> -->
				</ul>
				{{ if .Data.Pages }}
				<div class="col-6">
					<h2>Blog</h2>
					{{ range .Data.Pages }}
						<a  href="{{.Permalink}}">{{ .Title }}</a> <br />
					{{ end }}
				</div>
				{{ end }}
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-center">Copyright &copy; 2019</div>
				</div>
			</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/app.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5cf28c65267b2e5785307766/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
</script>
<!--End of Tawk.to Script-->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</body>

</html>
