<footer id="footer">
	<div class="container mt-4">
			<div class="row">
				<ul class="col-6 bo-footer-main">
					<li class="bo-1">
						<img src="/img/logo.svg" alt="Bogital logo"
							class=" offset-xs-2 offset-sm-3 offset-md-4 col-xs-8 col-sm-6 col-md-4 ">
					</li>
					<li class="bo-1">
						<p>Simbock - yaounde - Cameroon</p>
					</li>
					<li class="bo-1">
						<p>+237696835158</p>
					</li>
					<ul class="bo-social">
						{{ partial "social-icon" (dict "link" "///fb.me/bogital237" "src" "/img/icons-facebook.svg" "id" "facebook") }}
					</ul>
				</ul>
				{{ if .Data.Pages }}
				<div class="col-6">
					<h2>Blog</h2>
					{{ range .Data.Pages }}
						<a  href="{{.Permalink}}">{{ .Title }}</a> <br />
					{{ end }}
				</div>
				{{ end }}
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-center">Copyright &copy; 2019</div>
				</div>
			</div>
	</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/app.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</body>

</html>
