<div class="jumbotron jumbotron-fluid cover bo-header" style="background-image: url('{{.imageUrl}}')">
  <div class="h-100">
    <div class="container-fluid row h-100">
      <div class="col-sm-5 col-md-6 d-flex flex-column justify-content-center align-items-center">
        <h1 class="">{{.title}}</h1>
        <!-- <p class="lead">Jumbo helper text</p> -->
        <hr class="my-2">
        {{ if .subtitle }}
        <p class="lead bo-promo bg-danger text-white">
          {{.subtitle}}
        </p>
        {{ end }}
        
      </div>
      <div class="col-sm-7 col-md-6 d-flex justify-content-center align-items-center">
        {{ partial "contact-form" .form }}
      </div>
    </div>
  </div>
</div>