<section class="container-fluid bo-section" id="our-work">
    <h2 class="text-center pt-2">Our Work | Projects</h2>
    <div id="carouselID" class="carousel slide multi-item-carousel">
        <div class="row w-100 mx-auto">
            {{ range $index, $v := .Params.work }}
                <div
                class="col-sm-6 col-md-3 bo-work {{ if not $index }} active {{ end }}"
                >
                    <!-- <h3>{{ $v.title }}</h3> -->
                    <h3>Project - {{ add $index 1 }}</h3>
                    <p>{{ $v.excerpt }}</p>
                </div>
            {{ end }}
        </div>
    </div>
</section>

