<div class="container" id="services">
    <h2 class="text-center">Services</h2>
    <div class="row">
            <div class="col-sm-4 service-grid">
                    <h3 class="text-center">Responsive Web Design</h3>
                    <img src="/img/responsive_web_design.png" alt="yneka: responsive web development logo" class="img-fluid">
                    <p>
                      Your page scales up or down depending if you view your website on a small smart phone, tablet or desktop combuter. This will
                      contribute greatly in enhancing user experience and SEO.
                    </p>
                    <span class="overlay"></span>
                  </div>
                  <div class="col-sm-4 service-grid">
                    <h3 class="text-center">Wordpress Development</h3>
                    <img src="/img/wordpress-logo.png" alt="yneka: Wordpress logo services" class="img-fluid">
                    <p>
                      We develop custom wordpress websites and themes. Wordpress is the go to solution that we use in yneka when it comes to developing
                      a blog Like our blog.
                    </p>
                    <span class="overlay"></span>
                  </div>
                  <div class="col-sm-4 service-grid">
                    <h3 class="text-center">SEO Ready light websites</h3>
                    <img src="/img/SEO-logo.png" alt="yneka: SEO ready and light websites logo" class="img-fluid icon icon-html5 last">
                    <p>
                      We build SEO frendly websites scoring atleast 99.99% on page test. This will help rank Your website on search engines like
                      google and bing.
                    </p>
                    <span class="overlay"></span>
                  </div>
                  <div class="col-sm-4 service-grid">
                      <h3 class="text-center">Mobile Applications Development</h3>
                      <img src="/img/SEO-logo.png" alt="yneka: SEO ready and light websites logo" class="img-fluid icon icon-html5 last">
                      <p>
                        Build your performant Android and iOs applications with BOGITAL.
                      </p>
                      <span class="overlay"></span>
                    </div>
            
    </div>
</div>