.bo-blog-li {
  height: 240px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

  [role="button"] {
    align-self: flex-start;
    margin-top: auto;
  }
}



.bo-post-hero {
  height: 360px;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.bo-post-content {
  padding-top: 1em;

  p {
    color: #1c1e29;
    font-weight: 400;
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 2rem;
  }

  >p:first-child::first-letter {
    padding-left: 1em;
    font-size: 24px;
  }

}
