/*! BOGITAL | https://bogital.com */

/*
 *
 *     
 *         _______________________
 *        /  ___/\_  ___/\_  ___/
 *        / /__   (__  )  (__  )
 *        \___/  /____/   / ___/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */

 $primary: #66cccc !default;

 section, .bo-section {
   padding-top: 32px;
   padding-bottom: 32px;
 }

 @media (min-width: 768px) {
  section, .bo-section {
   padding-top: 64px;
   padding-bottom: 64px;
 }
}

/******************************
*     HEADER
********************************/
.bo-header {
  box-sizing: border-box;
  min-height: 720px;
  padding: 64px 16px 16px 16px;
}

@media screen and (max-width: 570px) {
  
  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (main-width: 721px) {
  .bo-header {
    height: 100%;
    max-height: 100vh;
  }
}

.bo-contact-form {
  max-width: 420px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 32px 16px;

  h2 {
    margin: 0 auto 16px;
    color: white;
  }

  .form-group {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.1);
    
    .form-control {
      background-color: inherit;
      color: white;
      outline-color: $primary;
      
      font-size: 18px;
      font-family: "Open Sans";
      line-height: 1.2;
      text-align: left;

    }

    select.form-control {
      cursor: pointer;
    }

    option {
      background-color: $primary;
      font-size: 16px;
      font-family: "Open Sans";
      color: rgb(255, 255, 255);
      padding: 0px 2px 2px;
    }

  }


}

/******************************
*     ABOUT
********************************/
#about {
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
  }
}

/******************************
*SERVICES
********************************/
#services {
  background-color: $primary;
  img {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  #services {
  padding-top: 64px;
  padding-bottom: 64px;
}
}


 /* OUR WORK */

 #our-work {
     overflow-x: scroll;
     overflow-y: hidden;
 }

 #our-work::-webkit-scrollbar {
   scroll-behavior: auto;
 }

.bo-work {
  background-color: lightblue;
  min-height: 360px;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/******************************
*     PROCESS
********************************/
#process {
  .bo-process-number-label {
    height: 48px;
    width: 48px;
    line-height: 48px;
    background-color: $primary;
    color: #fff;
    border-radius: 24px;
    text-align: center;
  }
}