/*! BOGITAL | https://bogital.com */

/*
 *
 *     
 *         _______________________
 *        /  ___/\_  ___/\_  ___/
 *        / /__   (__  )  (__  )
 *        \___/  /____/   / ___/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */

 $primary: #66cccc !default;

/******************************
*     HEADER
********************************/
.bo-header {
  height: 720px;
  padding: 32px 0;
}

.bo-contact-form {
  max-width: 420px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 32px 16px;

  h2 {
    margin: 0 auto 16px;
    color: white;
  }

  .form-group {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.1);
    
    .form-control {
      background-color: inherit;
      color: white;
      outline-color: $primary;
      
      font-size: 18px;
      font-family: "Open Sans";
      line-height: 1.2;
      text-align: left;

    }

    select.form-control {
      cursor: pointer;
    }

    option {
      background-color: $primary;
      font-size: 16px;
      font-family: "Open Sans";
      color: rgb(255, 255, 255);
      padding: 0px 2px 2px;
    }

  }


}

/******************************
*     ABOUT
********************************/
#about {
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
  }
}

 /******************************
*SERVICES
********************************/
#services img {
    margin: 32px auto 16px;
  }
  
  #services img.last {
    /* height: 124.25%; */
    width: auto;
  }
  .service-grid:first-child {
    margin-top: 32px;
  }
  
  .service-grid {
    margin-top: 64px;
  }
  
  @media screen and (min-width: 768px) {
    .service-grid {
      margin-top: 32px;
    }
  }

 /* OUR WORK */

 #our-work {
     height: 320px;
     background-color: lightblue;
     overflow-x: scroll;
     overflow-y: hidden;
 }

 #our-work::-webkit-scrollbar {
   scroll-behavior: auto;
 }

.scrolling-wrapper {
  white-space: nowrap;
  height: 300px;
}

.card-block {
  min-height: 220px;
}