{{ define "main" }}
  <div
    class="jumbotron-fluid bo-post-hero" 
    {{ if .Params.image }} style="background-image: url('{{ .Params.image }}')" {{ end }}
    >
    <div class="backdrop">
      <h1 class="text-center bg-white">{{.Title}}</h1>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 d-flex">
        <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
        <p class="pl-2 pr-2"> | </p>
        <p><i>{{ i18n "readingTime" .ReadingTime }}</i></p>
      </div> 
    </div>
    <div class="row">
      <div class="offset-md-2 col-md-8 bo-post-content">
        {{ .Content }}
      </div>
    </div>
  </div>

{{ end }}
